// Place all the styles related to the Images controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

img {
    max-width: 400px;
}

.js-image-card {
    max-width: 400px;
    margin-bottom: 30px;
    border-bottom: 2px solid #eeeeee;
}

div p a:hover {
    background: none;
}

div p a:visited {
    color: #c1c1c1;
}