<h1>Images</h1>

<%= link_to 'New Image', new_image_path %>
<hr />

<div class='js-image-collection'>
    <% @images.each do |i| %>
        <%= render partial: "image_card", locals: { image: i } %>
    <% end %>
</div>

